.project__container {
  display: flex;
  justify-content: center;
  position: relative;
}

.project__content {
  width: 1170px;
}

.project__background {
  height: 691px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.project__header {
  margin: 207px 0 125px 0;
  display: flex;
  justify-content: center;
}

.project__header__title {
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.01em;
  font-weight: bold;
}

.project__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project__body__item {
  margin-top: 60px;
}

.project__body__item__img {
  border-radius: 10px;
  overflow: hidden;
}
.project__body__item__img img {
  width: 370px;
  height: 250px;
  object-fit: cover;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.project__body__item__img img:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor: pointer;
}

.project__body__item__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 16px;
}

.project__body__item__subtitle {
  font-size: 14px;
  line-height: 17px;
  margin-top: 8px;
}

.project__footer {
  display: flex;
  justify-content: center;
  margin: 60px 0 100px 0;
}
.project__footer__button {
  font-size: 18px;
  font-weight: 700;

  border-radius: 5px;
  padding: 8px 24px;

  background-color: #f8d000;
}

.project__footer__button:hover {
  cursor: pointer;
  background-color: #ffe24b;
}
