/**
----------------------
## TABLE CONTNETS ##
I. Layout
--  01. Menu
--  02. Footer
I. Homepage
--  01. Banner
--  02. About Us
--  03. Our Services
--  04. Statistics
--  05. Outstanding Project
--  06. Customer Reviews
--  07. Contact Us
II. Contact
--  01. Form Contact
---------------------- **/

* {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

/*-------------------------------------- Layout --------------------------------------*/

/* 01. Menu */
.menu__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  padding: 27px 46px;
}
.menu__content {
  background-color: burlywood;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__left {
  display: flex;
  align-items: center;
}
.menu__logo {
  margin-left: 8px;
}
.menu__language {
  font-size: 12px;
  font-weight: 700;
  margin-left: 40px;
  outline: none;
}
.menu__right {
  width: 40px;
  height: 40px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f8d000;
  cursor: pointer;
}
#menu__checkbox {
  display: none;
}
#menu__checkbox:checked ~ .menu__main {
  min-width: 737px;
  transform: translateX(0%);
}
.menu__main {
  height: 100vh;
  transform: translateX(100%);
  background-color: #f2f2f2;

  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 30;
  padding: 70px 90px 110px 140px;
  transition: all 0.35s ease 0s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__main__list {
}
.menu__main__close {
  text-align: right;
}

/* 02. Footer */
.footer__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.footer__content {
  background-color: burlywood;
  width: 1170px;
}

/*-------------------------------------- Homepage --------------------------------------*/

/* 01. Banner */
.homepage__banner__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  padding: 100px;
}
.homepage__banner__content {
  background-color: burlywood;
  width: 1700px;
}

/* 02. About Us */
.homepage__about__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.homepage__about__content {
  background-color: burlywood;
  width: 1170px;
}

/* 03. Our Services */
.homepage__services__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.homepage__services__content {
  background-color: burlywood;
  width: 1170px;
}

/* 04. Statistics */
.homepage__statistics__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.homepage__statistics__content {
  background-color: burlywood;
  width: 1170px;
}

/* 05. Outstanding Project */

.homepage__project__container_title {
  display: flex;
  justify-content: center;
}
.homepage__project__content_title {
  width: 1170px;
}

.homepage__project__title p {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
}

.homepage__project__title h2 {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  /* or 116% */
  text-align: center;
  color: #000000;
}

.homepage__project__container {
  background: #c42c2c url(../images/Bao.png) no-repeat left center;
  background-position: 0% 30%;
  display: flex;
  justify-content: center;
  height: 586px;
}

.homepage__project__content {
  width: 1170px;
  height: 586px;
}
 
 .homepage__project_slider {
  position: relative;
}
 
.owl-carousel {
  position: relative;
}

.owl-carousel .owl-item {
  opacity: 1;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0;
  color: white !important;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 30px;
}
.owl-carousel .owl-nav .owl-prev {
  left: 20px;
}
.owl-carousel .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 0;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
}
 .owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}

.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}
 
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
} 
 
.homepage__slider__content {
  width: 100%;
}
 .homepage__slider__content .img {
  width: 100%;
  height: 586px;
  position: relative;
  z-index: 0;
  overflow: visible;
  -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
}

.homepage__slider__content .img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  opacity: 0.3;
}

.homepage__slider__content .text .project_1 {
  position: absolute;
  color: #ffffff;
  top: 115px;
  text-align: left;
  left: 0%;
}
 .homepage__slider__content .text .project_1 h5 {
  height: 19px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.homepage__slider__content .text .project_1 h2 {
  height: 77px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
  text-transform: uppercase;
}
 
.homepage__slider__content .text .project_1 p {
  width: 465px;
  height: 94px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
 
.homepage__slider__content .text .text-project a {
  display: inline-block;
  width: 180px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 12px 20px;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.3s;
  border: groove 2px #ffffff;
  border-radius: 5px;
  text-decoration: none;
}
 
.homepage__slider__content .text .text-project a img {
  position: absolute;
  bottom: 4%;
  left: 28%;
  width: 10%;
  height: 10%;
}
@media (max-width: 991.98px) {
  .homepage__slider__content .text .project_1 h2 {
    font-size: 40px;
  }
}

.homepage__slider__content .text span {
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 500;
}
.homepage__work-project .flex-container {
  display: flex;
  flex-direction: column;
} 
 
.homepage__slider__content .flex-container .image-product {
  position: absolute;
  width: 446.02px;
  left: 830px;
  bottom: -10%;
  filter: drop-shadow(40px -14px 42px rgba(0, 0, 0, 0.15));
}
 
.homepage__slider__content .flex-container .image-product img{
  height: 742.62px ; 
}

.homepage__slider__content .flex-container .image-product .rectangleBig {
position: absolute;
width: 253.92px;
height: 176.84px;
left: -122px;
top: 230px;
background: #ffffff;
box-shadow: 12px 10px 22px rgba(0, 0, 0, 0.22);
border-radius: 10px;
}

.homepage__slider__content .flex-container .image-product .rectangleSmall {
position: absolute;
width: 253.92px;
height: 96.35px;
left: 200px;
top: 420px;
background: #ffffff;
box-shadow: 12px 10px 22px rgba(0, 0, 0, 0.22);
border-radius: 10px;
}
 

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
 
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
 
.homepage__project__my-5 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.thumbnail {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -45px;
  left: 28.8%;
  -webkit-transform: translateY(50%) translateX(-50%);
  -ms-transform: translateY(50%) translateX(-50%);
  transform: translateY(50%) translateX(-50%);
  z-index: 99;
}

.thumbnail li {
  display: inline-block;
}

.thumbnail li a {
  display: block;
  margin: 4px;
  text-decoration: none;
}

.thumbnail li a div{
  width: 160px;
  height: 160px;
  background: #FFFFFF;
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.thumbnail li a h5{
  width: 135px;
  height: 22px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #0B0D27;
}

.thumbnail li a h6{
  width: 69px;
  height: 14px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 5.5px;
  color: #0B0D27;
}

.hompage__project_space{
  height: 160px;
}
 
/* 06. Customer Reviews */
.homepage__reviews__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.homepage__reviews__content {
  background-color: burlywood;
  width: 1170px;
}

/* 07. Contact Us */
.homepage__contact__container {
  display: flex;
  justify-content: center;
  padding: 120px 0px;
  background-image: url(../images/development.svg);
  background-color: #0b0d27;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.homepage__contact__content {
  width: 1170px;
}

.home__contact__title h2 {
  color: #fff;
  letter-spacing: -0.01em;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
}

.home__contact__button a {
  display: inline-block;
  width: 403.83px;
  font-size: 24px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  padding: 16px 30px;
  background: #f8d000;
  color: #0b0d27;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.3s;
  border-radius: 5px;
  text-decoration: none;
}

.home__contact__button a img {
  position: absolute;
  padding-left: 0.5%;
}

@media only screen and (min-width: 1900px) {
  .home__contact__title h2 {
    font-size: 64px;
    line-height: 74px;
  }
  .home__contact__button a {
    font-size: 24px;
    line-height: 28px;
    width: 403.83px;
    padding: 16px 30px;
  }
  .home__contact__button a img {
    position: absolute;
    padding-left: 0.5%;
  }
}

/*-------------------------------------- Contact --------------------------------------*/

/* 01. Form contact */
.contact__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.contact__content {
  background-color: burlywood;
  width: 1170px;
}


