/**
----------------------
## TABLE CONTNETS ##
I. Layout
--  01. Menu
--  02. Footer
II. Homepage
--  01. Banner
--  02. About Us
--  03. Our Services
--  04. Statistics
--  05. Outstanding Project
--  06. Customer Reviews
--  07. Contact Us
III. Contact
--  01. Form Contact
IV. About
V. Project
VI. Project Details
VII. Service
---------------------- **/

* {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

body {
  color: #0b0d27;
  background-color: #ffffff;
}

/*-------------------------------------- Layout --------------------------------------*/

/* 01. Menu */
.menu__container {
  padding: 27px 46px;
  z-index: 15;
  transition: 0.4s;
}

.menu__logo {
  margin-left: 8px;
}

.menu__language__title {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  margin-left: 40px;
}

.menu__language {
  margin-left: 8px;
  position: relative;
  top: 11px;
}

.menu__language__animate i {
  color: #9b9b9b;
}

#menu__language__toggle ~ .dropdown {
  visibility: hidden;
  opacity: 0;
}

#menu__language__toggle:checked ~ .dropdown {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.menu__language__animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}

.menu__right {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #f8d000;
  cursor: pointer;
}

#menu__checkbox:checked ~ .menu__main {
  min-width: 45vw;
  transform: translateX(0%);
}
.menu__main {
  height: 100vh;
  padding: 38px 48px;
  transform: translateX(100%);
  background-color: #ffffff;

  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 30;
  transition: all 0.35s ease 0s;
}

.menu__main__list {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
  font-weight: 700;
}

.menu__main__list hr:not([size]) {
  height: 22px;
  width: calc(100% + 11px);
  opacity: 1;
  color: #d9d9d9;
}

.menu__main__list a {
  color: #0b0d27;
  transition: all 0.35s ease 0s;
}

.menu__main__list a:hover {
  color: #0b0d27;
}

.menu__main__list a:hover hr {
  background-color: #f8d000;
}

.menu__main__list span {
  z-index: 35;
}

.menu__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 20;
}
#menu__checkbox:checked ~ .menu__overlay {
  background-color: #1d263a;
  opacity: 0.7;
  transition: all 0.35s ease 0s;
  pointer-events: all;
}

@media only screen and (max-width: 576px) {
  .menu__container {
    padding: 16px 8px;
  }
  .menu__language__title,
  .menu__language {
    display: none;
  }
  .menu__main {
    width: 100%;
    padding: 16px 8px;
  }
  .menu__main__list {
    font-size: 24px;
    line-height: 36px;
  }
  .menu__main__list hr:not([size]) {
    height: 10px;
  }
}

/* 02. Footer */
.footer__container {
  background-color: #0b0d27;
  color: white;
}
.footer__content {
  width: 1170px;
}

.footer__main {
  padding: 80px 0;
}

.footer__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.footer__media__left {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 576px) {
  .footer__content {
    width: 100%;
  }
  .footer__main {
    padding: 40px 0;
  }
  .footer__main__contact {
    margin-bottom: 40px;
  }
}
/*-------------------------------------- Homepage --------------------------------------*/

/* 01. Banner */
.homepage__banner__img {
  height: 93.53%;
}

.homepage__banner__main {
  width: 1720px;
  margin-top: 120px;
}

.homepage__carousel__content {
  width: 847px;
  height: 470px;
}

#homepage__banner__title {
  font-size: 110px;
  line-height: 110px;
  font-weight: bold;
  letter-spacing: -0.01em;
}
.homepage__banner__subtitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  margin-top: 40px;
  letter-spacing: -0.01em;
}
.homepage__banner__button {
  font-weight: 700;
  font-size: 24px;
  width: 274px;
  height: 60px;
  border-radius: 5px;
  padding: 0px 30px;
  margin: 90px 0 148px 0;
  cursor: pointer;
  background-color: #f8d000;
}

.homepage__banner__button:hover {
  background-color: #ffe24b;
}

.homepage__banner__logo__left {
  width: 105px;
}
.homepage__banner__logo__number {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}
.homepage__banner__logo__title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
}

.homepage__banner__logo__center {
  width: 1px;
  height: 60px;
  margin: 0 40px;
  background-color: #d2d2d2;
}

/* carosel trượt ngang */
.homepage__banner__logo__right {
  height: 50px;
  width: 650px;
  overflow: hidden;
}
.homepage__banner__logo__right::after {
  background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 96.83%);
  content: "";
  height: 50px;
  width: 500px;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.homepage__banner__logo__right > div {
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(130px * 10);
}

.homepage__banner__logo__right > div > div {
  height: 50px;
  width: 130px;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-130px * 5));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-130px * 5));
  }
}

@media only screen and (max-width: 576px) {
  .homepage__banner__img {
    height: 271px;
    opacity: 0.2;
    margin-top: 80px;
  }
  .homepage__banner__main {
    width: 100%;
    margin-top: 127px;
  }
  .homepage__carousel__content {
    width: 100%;
    height: 248px;
  }
  #homepage__banner__title {
    font-size: 48px;
    line-height: 56px;
  }
  .homepage__banner__subtitle {
    font-size: 22px;
    line-height: 32px;
    margin-top: 16px;
  }
  .homepage__banner__button {
    width: 232px;
    font-size: 18px;
    margin: 32px 0 40px 0;
  }
  .homepage__banner__logo__number {
    font-size: 48px;
    line-height: 56px;
  }
  .homepage__banner__logo__center {
    margin: 0 24px;
  }
  .homepage__banner__logo__right::after {
    display: none;
  }
}

/* 02. About Us */
.homepage__about__container {
  background-color: #0b0d27;
  display: flex;
  justify-content: center;
}
.homepage__about__content {
  width: 1170px;
  margin: 140px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.homepage__about__stroke1 {
  position: absolute;
  left: 0;
  padding-bottom: 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.homepage__about__stroke2 {
  position: absolute;
  right: 0;
  padding-top: 218px;
}

.homepage__about__stroke3 {
  position: absolute;
  /* padding-right: 894px; */
  /* margin-right: 894px; */
}

.homepage__about__image img {
  width: 487px;
  height: 319px;
  border-radius: 10px;
}
.homepage__about__text {
  width: 630px;
  padding-top: 19px;
}
.homepage__about__top {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #f8d000;
  margin-bottom: 20px;
}
.homepage__about__mid {
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 60px;
}
.homepage__about__title1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 30px;
}
.homepage__about__title2 {
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 41px;
}
.homepage__about__footer {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-align: right;
}
/* 03. Our Services */

.homepage__services__containerTab {
  float: left;
  /* border: 1px solid #ccc; */
  background-color: inherit;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.homepage__services__containerTab button {
  display: block;
  color: black;
  background-color: #fffdfa;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  box-shadow: #fffdfa;
}

.homepage__services__containerTab button.active {
  background: #ffffff;
  box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.homepage__services__containerTab button.active .homepage__services__boxImage {
  background-image: url("../images/fingerPrint.svg");
  background-repeat: no-repeat;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
}

.homepage__services__container {
  display: flex;
  justify-content: center;
}
.homepage__services__content {
  width: 1170px;
  margin-top: 140px;
}
.homepage__services__title {
  max-width: 57px;
  font-family: Barlow;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.homepage__services__underTitle {
  max-width: 609px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: -0.01em;
}
.homepage__services__contentOfTitle {
  max-width: 631px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 56px;
}

.homepage__services__box {
  width: 370px;
  height: 95px;
  display: flex;
  align-items: center;
}
.homepage__services__boxImage {
  height: 95px;
  width: 95px;
  background-image: url("../images/fingerPrint1.svg");
  background-repeat: no-repeat;
}
.homepage__services__custom-btn:hover {
  background-color: #ffe24b;
}
.homepage__services__containerBox:hover {
  box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.1);
}
.homepage__services__containerBox {
  padding: 0;
  display: flex;
  /* background-color: aquamarine; */
}

.homepage__services__boxText {
  width: 210px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-left: 23px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.homepage__services__tabs {
  margin-left: 420px;
  position: relative;
  font-family: Barlow;
  max-width: 695px;
}
.homepage__services__text__block {
  position: absolute;
  width: 695px;
  bottom: 50px;
  margin-left: 38px;
  color: white;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.homepage__services__custom-btn {
  position: absolute;
  width: 205px;
  height: 44px;
  background: #f8d000;
  border-radius: 5px;
  border: 0px solid #000;
  cursor: pointer;
  transition: all 0.3s ease;
  right: -31px;
  bottom: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage__services__custom-btn img {
  margin-left: 12px;
}
.homepage__services__textBtn-1 {
  text-decoration: none;
  width: 119px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #0b0d27;
}

.homepage__services__imageContentTab {
  width: 770px;
  height: 405px;
  object-fit: cover;
  border-radius: 10px;
}

/* 04. Statistics */
.homepage__statistics__container {
  display: flex;
  justify-content: center;
  background: url(../images/istockphoto-1330509505-640_adpp_is\ 1.svg);
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage__statistics__content {
  width: 1170px;
  margin: 176px 0;
  display: flex;
  justify-content: space-evenly;
}
.homepage__statistics__number {
  display: flex;
  align-items: center;
}
.homepage__statistics__number span {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
}
.homepage__statistics__number i {
  font-weight: 700;
  font-size: 30px;
  line-height: 76px;
  margin-left: 5px;
}
.homepage__statistics__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

/* 05. Outstanding Project */
.homepage__project__container_title {
  display: flex;
  justify-content: center;
}
.homepage__project__content_title {
  width: 1170px;
}

.homepage__project__title p {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
}

.homepage__project__title h2 {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  /* or 116% */
  text-align: center;
  color: #000000;
}

.homepage__project__container {
  display: flex;
  justify-content: center;
  padding: 7em 0;
}
.homepage__project__container .container-fluid {
  padding: 0%;
}
.text-center {
  text-align: center !important;
}
.homepage__project_slider {
  position: relative;
}
/* .owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  opacity: 1;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
} */
/* .owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0;
  color: white !important;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 1;
}
@media (prefers-reduced-motion: reduce) {
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 30px;
}
.owl-carousel .owl-nav .owl-prev {
  left: 20px;
}
.owl-carousel .owl-nav .owl-next {
  right: 20px;
}
.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 0;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}
.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #ff5959;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
} */
.homepage__slider__content {
  width: 100%;
  background: #c42c2c url(../images/Bao.png) no-repeat left center;
  background-position: 0% 30%;
}

.homepage__slider__content .img {
  width: 100%;
  height: 586px;
  position: relative;
  z-index: 0;
  padding: 0px;
  overflow: visible !important;
  /* overflow: hidden; */
  -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
}
.homepage__slider__content .img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  opacity: 0.3;
}
.homepage__slider__content .text .project_1 {
  position: absolute;
  color: #ffffff;
  top: 115px;
  text-align: left;
  left: 24%;
}
@media (max-width: 1920px) {
  .homepage__slider__content .text .project_1 {
    position: absolute;
    left: 20%;
  }
}
.homepage__slider__content .text .project_1 h5 {
  height: 19px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.homepage__slider__content .text .project_1 h2 {
  height: 77px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
  text-transform: uppercase;
}

.homepage__slider__content .text .project_1 p {
  width: 465px;
  height: 94px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.homepage__slider__content .text .text-project a {
  display: inline-block;
  width: 180px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 12px 20px;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.3s;
  border: groove 2px #ffffff;
  border-radius: 5px;
  text-decoration: none;
}

.homepage__slider__content .text .text-project a img {
  position: absolute;
  overflow: visible !important;
  bottom: 4%;
  left: 28%;
  width: 10%;
  height: 10%;
}
@media (max-width: 991.98px) {
  .homepage__slider__content .text .project_1 h2 {
    font-size: 40px;
  }
}
.homepage__slider__content .image-product {
  position: absolute;
  width: 446.02px;
  right: 10%;
  bottom: -10%;
  filter: drop-shadow(40px -14px 42px rgba(0, 0, 0, 0.15));
  overflow: visible !important;
}

.homepage__slider__content .image-product img {
  height: 742.62px;
}

.homepage__slider__content .image-product .rectangleBig {
  position: absolute;
  width: 253.92px;
  height: 176.84px;
  left: -122px;
  top: 230px;
  background: #ffffff;
  box-shadow: 12px 10px 22px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}

.homepage__slider__content .image-product .rectangleSmall {
  position: absolute;
  width: 253.92px;
  height: 96.35px;
  left: 200px;
  top: 420px;
  background: #ffffff;
  box-shadow: 12px 10px 22px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}

.homepage__slider__content .text h2 {
  font-size: 60px;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .homepage__slider__content .text h2 {
    font-size: 40px;
  }
}
.homepage__slider__content .text span {
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 500;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.homepage__project__my-5 {
  margin-bottom: 3rem !important;
}
.homepage__project__my-5 {
  margin-top: 3rem !important;
}
.thumbnail {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -6%;
  left: 41.4%;
  -webkit-transform: translateY(50%) translateX(-50%);
  -ms-transform: translateY(50%) translateX(-50%);
  transform: translateY(50%) translateX(-50%);
  z-index: 99;
  width: 100%;
}

.thumbnail li a img {
  width: 80px;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.thumbnail li.active a img {
  border: 4px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.thumbnail li {
  display: inline-block;
}

.thumbnail li a {
  display: block;
  margin: 4px;
  text-decoration: none;
}

.thumbnail li a div {
  width: 160px;
  height: 160px;
  background: #ffffff;
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.thumbnail li a h5 {
  width: 135px;
  height: 22px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #0b0d27;
}

.thumbnail li a h6 {
  width: 69px;
  height: 14px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 5.5px;
  color: #0b0d27;
}
/*responsive for hot project*/
@media (max-width: 767.98px) {
  .thumbnail li a img {
    width: 50px;
  }
}
@media (min-width: 1920px) {
  .thumbnail {
    position: absolute;
    left: 37.5%;
  }
}

.hompage__project_space {
  height: 160px;
}

/* 06. Customer Reviews */
.homepage__reviews__content {
  width: 1170px;
}

.homepage__reviews__container {
  display: flex;
  justify-content: center;
  padding-top: 154px;
  padding-bottom: 248px;
}

.homepage__reviews__p-4 {
  border-radius: 5px 5px 5px 0px;
  -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  box-shadow: 5px 10px 18px rgb(0 0 0 / 8%);
  width: 249px;
  height: 90px;
}

.homepage__reviews__container .homepage__reviews__content {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.homepage__reviews__images {
  position: relative;
}

.homepage__reviews__eachimage {
  position: absolute;
  padding-left: 150px;
  padding-top: 100px;
}

.homepage__reviews__eachimage2 {
  position: absolute;
  padding-left: 380px;
  padding-top: 90px;
}

.homepage__reviews__eachimage3 {
  position: absolute;
  padding-left: 422px;
  padding-top: 300px;
}

.homepage__reviews__eachimage4 {
  position: absolute;
  padding-left: 300px;
  padding-top: 560px;
}

.homepage__reviews__eachimage5 {
  position: absolute;
  padding-left: 100px;
  padding-top: 320px;
}

.homepage__reviews__eachimage .rounded-full {
  border-radius: 50%;
  width: 74px;
  height: 74px;
}

.homepage__reviews__eachimage2 .rounded-full2 {
  border-radius: 50%;
  width: 92px;
  height: 92px;
}

.homepage__reviews__eachimage3 .rounded-full3 {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.homepage__reviews__eachimage4 .rounded-full4 {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.homepage__reviews__eachimage5 .rounded-full5 {
  border-radius: 50%;
  width: 76px;
  height: 76px;
}

.homepage__reviews__block {
  margin-left: 10px;
  color: #333333;
}

.homepage__reviews__mySlides {
  padding-bottom: 70px;
}

.homepage__reviews__remark {
  padding-top: 20px;
  color: #0b0d27;
}
.homepage__reviews__remark .checked {
  color: #f8d000;
  font-size: 24px;
  padding-bottom: 24px;
}

.homepage__reviews__flex {
  display: flex;
  padding: 1.5rem;
}

.homepage__reviews__flex .w-10 {
  width: 2.5rem;
}

.homepage__reviews__flex .rounded-full {
  border-radius: 50%;
}

.homepage__reviews__block .text-base {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
}

.homepage__reviews__block .text-xs {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.homepage__reviews__text {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  color: #0b0d27;
  padding-bottom: 20px;
}

.homepage__reviews__textmini {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: #0b0d27;
}

.homepage__reviews__describe {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #0b0d27;
  font-style: normal;
  font-weight: normal;
}

.homepage__reviews__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left: 18px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeperfect,
.perfect__dot:hover {
  background-color: #000000;
}

/* 07. Contact Us */
.homepage__contact__container {
  display: flex;
  justify-content: center;
  padding: 120px 0px;
  background-image: url(../images/development.svg);
  background-color: #0b0d27;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.homepage__contact__content {
  width: 1170px;
}

.home__contact__title h2 {
  color: #fff;
  letter-spacing: -0.01em;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
}

.home__contact__button a {
  display: inline-block;
  width: 403.83px;
  font-size: 24px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  padding: 16px 30px;
  background: #f8d000;
  color: #0b0d27;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.3s;
  border-radius: 5px;
  text-decoration: none;
}

.home__contact__button a img {
  position: absolute;
  padding-left: 0.5%;
}

@media only screen and (min-width: 1900px) {
  .home__contact__title h2 {
    font-size: 64px;
    line-height: 74px;
  }
  .home__contact__button a {
    font-size: 24px;
    line-height: 28px;
    width: 403.83px;
    padding: 16px 30px;
  }
  .home__contact__button a img {
    position: absolute;
    padding-left: 0.5%;
  }
}

/*-------------------------------------- Contact --------------------------------------*/

/* 01. Form contact */
.contact__container {
  display: flex;
  justify-content: center;
  /* margin: 69px 0 170px; */
}
.contact__content {
  width: 1440px;
  display: flex;
  justify-content: space-between;
}
.contact__image img {
  width: 674px;
  height: 775px;
  border-radius: 10px;
  margin-top: 136px;
  margin-bottom: 170px;
}
.contact__form {
  width: 666px;
  margin-top: 238px;
  padding-right: 10px;
}

.contact__top {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #0b0d27;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.contact__mid {
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.01em;
  color: #0b0d27;
  margin-bottom: 30px;
}
.contact__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 64px;
}
.contact__content__form1 {
  display: flex;
}
.contact__content__form2 {
  width: 591px;
  outline: none;
  margin-bottom: 35px;
  border-bottom: 1px solid #c4c4c4;
}

.contact__content__form3 {
  display: flex;
  width: 591px;
  outline: none;
  margin-bottom: 50px;
  border-bottom: 1px solid #c4c4c4;
}
.contact__input__group1 {
  display: flex;
  width: 280px;
  outline: none;
  margin-bottom: 35px;
  border-bottom: 1px solid #c4c4c4;
}
.contact__input__group2 {
  display: flex;
  width: 280px;
  outline: none;
  margin-bottom: 35px;
  margin-left: 30px;
  border-bottom: 1px solid #c4c4c4;
}
.contact__input__style {
  width: 100%;
  outline: none;
  border: none;
  font-family: "Barlow";
  font-size: 18px;
  margin-bottom: 12px;
}
.contact__btn__warning {
  background-color: rgba(248, 208, 0, 1);
  border: 5px solid rgba(248, 208, 0, 1);
  padding: 16px 30px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  border-radius: 5px;
}

.contact__select {
  display: flex;
}
.contact__icon {
  margin-right: 12px;
  margin-bottom: 16px;
  border: 0.4px solid #ffffff;
}

#contact__select__box {
  width: 100%;
  outline: none;
  border: none;
  /* -webkit-appearance: none; */
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 12px;
}

/*-------------------------------------- About --------------------------------------*/
/* start about IT development quynh */
.about__staff__container {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.about__staff__content {
  width: 1170px;
}

.about__staff__title {
  max-width: 676px;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.01em;
  margin-bottom: 50px;
}

.about_images_ITDevelop {
  max-width: 1170px;
}

.about_col1 {
  max-width: 624px;
}
.about_alotOfPeopleTogether {
  max-width: 100%;
  object-fit: cover;
}
.about_conatinerCol2 {
  margin-left: -28px;
}
.about_col2 {
  width: 516px;
  display: flex;
  justify-content: space-between;
}
.about_handTogethersTeamwork {
  max-width: 243px;
  height: 243px;
  object-fit: cover;
}
/* cursor Images */
.about_containCursorImages {
  max-width: 1158px;
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}
.about_cursorImages {
  width: 20%;
}
.about__title_position {
  margin-top: 20px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.about__name_position {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #828282;
}
/* counter */
.homepage__statistics__container {
  display: flex;
  justify-content: center;
  background: url(../images/istockphoto-1330509505-640_adpp_is\ 1.svg);
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage__statistics__content {
  width: 1170px;
  margin: 176px 0;
  display: flex;
  justify-content: space-evenly;
}
.about__statistics__content {
  width: 1170px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.homepage__statistics__number {
  display: flex;
  align-items: center;
}
.homepage__statistics__number span {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
}
.homepage__statistics__number i {
  font-weight: 700;
  font-size: 30px;
  line-height: 76px;
  margin-left: 5px;
}
.homepage__statistics__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.about__number__container {
  position: relative;
  padding: 100px 0;
}

.about__images__counter {
  width: 100%;
  height: 415px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about__title__counter {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  margin-bottom: 60px;
}

/* end about IT development quynh*/

/* Start about us Hoa */

.about__title__container {
  padding: 207px 0 80px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.about__title__img {
  height: 691px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.about__title__content {
  width: 1170px;
}

.about__title__header {
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.01em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 207px;
}

.about__title__body {
  display: flex;
  justify-content: space-between;
}

.about__title__body__left {
  width: 470px;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.01em;
}

.about__title__body__right {
  width: 570px;
}

.about__title__body__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
}

.about__title__body__content {
  font-size: 18px;
  line-height: 28px;
}

.about__value__container {
  padding: 160px 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;

  background: linear-gradient(
      0deg,
      rgba(11, 13, 39, 0.8),
      rgba(11, 13, 39, 0.8)
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/aboutbg.png");
}

.about__value__content {
  color: white;
  text-align: center;
}

.about__value__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: bold;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-top: 48px;
}

.about__value__subtitle {
  margin-top: 16px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.about__direction__container {
  display: flex;
  justify-content: center;
}

.about__direction__content {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  width: 1170px;
}

.about__direction__left,
.about__direction__right {
  width: 500px;
  text-align: center;
}

.about__direction__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.01em;
  margin-top: 30px;
}

.about__direction__subtitle {
  font-size: 18px;
  line-height: 28px;
  margin-top: 16px;
}
/* End about us Hoa
/*-------------------------------------- Project --------------------------------------*/
/*-------------------------------------- Project Details --------------------------------------*/
/*-------------------------------------- Service --------------------------------------*/

/* SERVICE BANNER */

.service__banner__container {
  display: flex;
  justify-content: center;
  position: relative;
}

.service__banner__img {
  height: 691px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.service__banner__content {
  width: 1170px;
  text-align: center;
  padding: 207px 0 118px 0;
}

.service__text__top {
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.01em;
  margin-bottom: 97px;
}
.service__text__title {
  width: 684px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0 auto;
}
/* SERVICE TYPES*/
.service__types__container {
  display: flex;
  justify-content: center;
}
.service__Types__content {
  width: 1170px;
}
.service__Types {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.service__Types__text {
  padding: 48px 0;
  width: 452px;
}

.service__Types__top {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}
.service__Types__title {
  font-size: 18px;
  line-height: 28px;
}

/* CONTACT */
.service__contact__container {
  background: #f8f8f8;
  display: flex;
  justify-content: center;
}
.service__contact__form {
  /* background-color: rgb(14, 230, 14); */
  width: 631px;
  height: 571px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.service__contact__top {
  position: static;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #0b0d27;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  color: #0b0d27;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 16px;
}
.service__contact__mid {
  position: static;
  /* width: 603px; */
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.01em;
  color: #0b0d27;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 30px;
}
.service__contact__title {
  position: static;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 64px;
}
.service__contact__form1 {
  display: flex;
}
.service__contact__form2 {
  width: 591px;
  outline: none;
  margin-bottom: 35px;
  border: 1px solid #c4c4c4;
}
.service__contact__form3 {
  display: flex;
  width: 591px;
  outline: none;
  margin-bottom: 50px;
  border-bottom: 1px solid #c4c4c4;
}

.service__contact__input1 {
  display: flex;
  width: 280px;
  outline: none;
  margin-bottom: 35px;
  border-bottom: 1px solid #c4c4c4;
}
.service__contact__input2 {
  display: flex;
  width: 280px;
  outline: none;
  margin-bottom: 35px;
  margin-left: 30px;
  border-bottom: 1px solid #c4c4c4;
}
.service__contact__input {
  /* width: 591px; */
  background: #f8f8f8;
  outline: none;
  border: none;
  font-family: "Barlow";
  font-size: 18px;
  margin-bottom: 12px;
  width: 280px;
}
.service__btn__warning {
  width: 169px;
  height: 60px;
  background: #f8d000;
  border: 5px;
  margin-left: 231px;
}
.service__btn__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #0b0d27;
  padding: 16px 30px;
  text-transform: uppercase;
}
.service__contact__icon {
  margin-right: 12px;
  margin-bottom: 16px;
  border: 0.4px solid #ffffff;
}
.service__contact__select {
  display: flex;
  width: 591px;
  margin-bottom: 34px;
  border-bottom: 1px solid #c4c4c4;
}
.service__contact__select img {
  margin-right: 9px;
  margin-bottom: 16px;
  border: 0.4px solid #ffffff;
}

#service__select__box {
  -webkit-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  width: 591px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 12px;
  padding-right: 10px;
}

/* FOOTER */
.footer__service {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.footer__service__content {
  background-color: burlywood;
  width: 1170px;
}
