/**
----------------------
## TABLE CONTNETS ##
I. Layout
--  01. Menu
--  02. Footer
I. Homepage
--  01. Banner
--  02. About Us
--  03. Our Services
--  04. Statistics
--  05. Outstanding Project
--  06. Customer Reviews
--  07. Contact Us
II. Contact
--  01. Form Contact
---------------------- **/

* {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

/*-------------------------------------- Layout --------------------------------------*/

/* 01. Menu */
.menu__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  padding: 27px 46px;
}
.menu__content {
  background-color: burlywood;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__left {
  display: flex;
  align-items: center;
}
.menu__logo {
  margin-left: 8px;
}
.menu__language {
  font-size: 12px;
  font-weight: 700;
  margin-left: 40px;
  outline: none;
}
.menu__right {
  width: 40px;
  height: 40px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f8d000;
  cursor: pointer;
}
#menu__checkbox {
  display: none;
}
#menu__checkbox:checked ~ .menu__main {
  min-width: 737px;
  transform: translateX(0%);
}
.menu__main {
  height: 100vh;
  transform: translateX(100%);
  background-color: #f2f2f2;

  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 30;
  padding: 70px 90px 110px 140px;
  transition: all 0.35s ease 0s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__main__list {
}
.menu__main__close {
  text-align: right;
}

/* 02. Footer */
.footer__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.footer__content {
  background-color: burlywood;
  width: 1170px;
}

/*-------------------------------------- Homepage --------------------------------------*/

/* 01. Banner */
.homepage__banner__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  padding: 100px;
}
.homepage__banner__content {
  background-color: burlywood;
  width: 1700px;
}

/* 02. About Us */
.homepage__about__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.homepage__about__content {
  background-color: burlywood;
  width: 1170px;
}

/* 03. Our Services */
.homepage__services__containerTab {
  float: left;
  /* border: 1px solid #ccc; */
  background-color: inherit;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.homepage__services__containerTab button {
  display: block;
  color: black;
  background-color: #fffdfa;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  box-shadow: #fffdfa;
}

.homepage__services__containerTab button.active {
  background: #ffffff;
  box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.homepage__services__containerTab button.active .homepage__services__boxImage {
  background-image: url('../images/fingerPrint.svg');
  background-repeat: no-repeat;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
}

.homepage__services__container {
  display: flex;
  justify-content: center;
}
.homepage__services__content {
  width: 1170px;
}
.homepage__services__title {
  max-width: 57px;
  font-family: Barlow;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.homepage__services__underTitle {
  max-width: 609px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: -0.01em;
}
.homepage__services__contentOfTitle {
  max-width: 631px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 56px;
}

.homepage__services__box {
  width: 370px;
  height: 95px;
  display: flex;
  align-items: center;
}
.homepage__services__boxImage {
  height: 95px;
  width: 95px;
  background-image: url('../images/fingerPrint1.svg');
  background-repeat: no-repeat;
}
.homepage__services__custom-btn:hover {
  background-color: #ffe24b;
}
.homepage__services__containerBox:hover {
  box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.1);
}
.homepage__services__containerBox {
  padding: 0;
  display: flex;
  /* background-color: aquamarine; */
}

.homepage__services__boxText {
  width: 210px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-left: 23px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.homepage__services__tabs {
  margin-left: 420px;
  position: relative;
  font-family: Barlow;
  max-width: 695px;
}
.homepage__services__text__block {
  position: absolute;
  width: 695px;
  bottom: 50px;
  margin-left: 38px;
  color: white;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.homepage__services__custom-btn {
  position: absolute;
  width: 205px;
  height: 44px;
  background: #f8d000;
  border-radius: 5px;
  border: 0px solid #000;
  cursor: pointer;
  transition: all 0.3s ease;
  right: -31px;
  bottom: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage__services__custom-btn img {
  margin-left: 12px;
}
.homepage__services__textBtn-1 {
  text-decoration: none;
  width: 119px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #0b0d27;
}

.homepage__services__imageContentTab {
  width: 770px;
  height: 405px;
  object-fit: cover;
  border-radius: 10px;
}

/* 04. Statistics */
.homepage__statistics__container {
  display: flex;
  justify-content: center;
  background: url(../images/istockphoto-1330509505-640_adpp_is\ 1.svg);
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage__statistics__content {
  width: 1170px;
  margin: 176px 0;
  display: flex;
  justify-content: space-evenly;
}
.homepage__statistics__number {
  display: flex;
  align-items: center;
}
.homepage__statistics__number span {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
}
.homepage__statistics__number i {
  font-weight: 700;
  font-size: 30px;
  line-height: 76px;
  margin-left: 5px;
}
.homepage__statistics__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

/* 05. Outstanding Project */
.homepage__project__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.homepage__project__content {
  background-color: burlywood;
  width: 1170px;
}

/* 06. Customer Reviews */
.homepage__reviews__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.homepage__reviews__content {
  background-color: burlywood;
  width: 1170px;
}

/* 07. Contact Us */
.homepage__contact__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.homepage__contact__content {
  background-color: burlywood;
  width: 1170px;
}

/*-------------------------------------- Contact --------------------------------------*/

/* 01. Form contact */
.contact__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
.contact__content {
  background-color: burlywood;
  width: 1170px;
}
